body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #192536;
  font-family: 'Lemon', serif;

}
ul li{
  
  list-style: none;
  color: white;
}
html{
  color: white;
  
}
.Layout-i{
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  .Header-i{
    height: 50px;
    width: 100%;
    background-color:#192536;
    top: 0;
    position: fixed;
    border-bottom: solid black 2px;
    .Hea-i{
      display: flex;
      align-items: center;
      justify-content: space-between;


      .Input-i{
        border: none;
        border-radius: 4px 0 0 4px;
        padding: 0 10px;
        width: 200px;
        height: 35px;
  
      }
      
      .But-i{
        border: 0;
        border-radius: 0 4px 4px 0;
        padding: 0 10px;
        height: 35px;
        width: 110px;
      }
      .Ul-i{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;


        .Li-i{
          padding: 0 20px;
          font-size: 16px;

        }
      }

    }
    
  }
  .Body-Content{
    margin-top: 55px;
    
    
    .Content-i{
      min-height: 3353px;
      .Music-i{

      }


    }
    .Footer-i{
      min-height: 360px;
      padding: 20px;
      background-color: black;
    }

  }
  

  

}



